* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_circle {
     background-color:darkslategrey ; 
    border: solid 3px blue;
    min-width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50%;
}

